$cream: #FFF7D4;
$gold: #FFD95A;
$umber: #C07F00;
$ash: #4C3D3D;

@font-face {
  font-family: 'Lionscript-Regular';
  src:  url('../fonts/Lionscript-Regular.woff2') format('woff2'),
        url('../fonts/Lionscript-Regular.woff') format('woff'),
        url('../fonts/Lionscript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $cream;
  color: $ash;
}

h1, p {
  text-align: center;
}

h1 {
  color: $umber;
  font-family: 'Lionscript-Regular';
  font-size: 2.5em;
}

p {
  font-family: 'Inconsolata';
}

.mumon-commentary {
  font-family: 'Lionscript-Regular';
  color: $umber;
  font-size: 1.5em;
  margin: 12px;
}

#cherry-blossoms {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.petal {
  background-image: url('../../assets/images/sakura_petal.png');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0.7;
}

.petal-white {
  background-image: url('../../assets/images/sakura_petal_white.png');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 1;
}