$cream: #FFF7D4;
$gold: #FFD95A;
$umber: #C07F00;
$ash: #4C3D3D;

$void: $cream;
$sand: #F4C542;
$stone: #8B8B8B;
$water: #3498DB;
$plant: #2ECC71;

@font-face {
  font-family: 'Lionscript-Regular';
  src:  url('../fonts/Lionscript-Regular.woff2') format('woff2'),
        url('../fonts/Lionscript-Regular.woff') format('woff'),
        url('../fonts/Lionscript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $cream;
  color: $ash;
}

h1, p {
  text-align: center;
}

h1 {
  color: $umber;
  font-family: 'Lionscript-Regular';
  font-size: 2.5em;
}

p {
  font-family: 'Inconsolata';
}

.resume {
  text-align: left;
}

.mumon-commentary {
  font-family: 'Lionscript-Regular';
  color: $umber;
  font-size: 1.5em;
  margin: 12px;
}

#cherry-blossoms {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.petal {
  background-image: url('../images/sakura_petal.png');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0.7;
}

.petal-white {
  background-image: url('../images/sakura_petal_white.png');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 1;
  z-index: 2;
}

#ensou-container {
  position: relative;
}

#ensou-icon {
  width: 70px;
  height: 70px;
  background-image: url('../images/ensou.png');
  background-size: 70px 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

#navigation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $ash;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  ul {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      margin: 10px;

      a {
        color: $cream;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }

  #close-button {
    color: $cream;
    cursor: pointer;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  button {
    margin: 1em;
  }
}

.reset-button {
  font-family: 'Lionscript-Regular';
  font-size: 2em;
  border-radius: 2px;
  color: $ash;
}

.pixel-type-button {
  width: 3em;
  height: 3em;
  border: 1px solid $ash;

  &.void {
    background-color: $void;
  }
  &.stone {
    background-color: $stone;
  }
  &.sand {
    background-color: $sand;
  }
  &.water {
    background-color: $water;
  }
  &.plant {
    background-color: $plant;
  }
}

.brush-size-button {
  position: relative;
  height: 3em;
  width: 3em; // Default size
  background-color: $cream;
  border: 1px solid $ash;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brush-size-preview {
  display: block;
  border-radius: 50%;
  &.void {
    background-color: $void;
    border: 1px solid $ash;
  }
  &.stone {
    background-color: $stone;
  }
  &.sand {
    background-color: $sand;
  }
  &.water {
    background-color: $water;
  }
  &.plant {
    background-color: $plant;
  }

  &.extra-small {
    width: 3px;
    height: 3px;
  }
  &.small {
    width: 7px;
    height: 7px;
  }
  &.medium {
    width: 11px;
    height: 11px;
  }
  &.large {
    width: 15px;
    height: 15px;
  }
  &.extra-large {
    width: 19px;
    height: 19px;
  }
}
.pixel-type-button.selected, .brush-size-button.selected {
  border: 2px solid $gold;
  box-shadow: 0 0 5px $gold;
}

#zen-garden-canvas {
  display: block;
  margin: 20px auto;
  border: 5px solid $ash;
  border-radius: 10px;
}

.pixel-type-button, .brush-size-button {
  border-radius: 2px;
}

#mumon-commentary-container {
  margin-top: 2em;
}

.quote-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontally centers the tiles */
}

.tile {
  font-family: 'Inconsolata';
  font-size: 1.5em;
  display: inline-flex; /* This will allow the tiles to align properly within a flex container */
  justify-content: center; /* Horizontally center content within each tile */
  padding: 5px 10px;
  background: $cream;
  border: 1px solid $umber;
  border-radius: 3px;
  margin: 2px;
  position: relative;
}

.tile-punctuation {
  background-color: grey;
}

.tile-partially-correct {
  background-color: yellow;
}

.tile-correct {
  background-color: greenyellow;
}

.tile-selected {
  border: 1px solid gold;
}

.tile-completed {
  transition: background 1s ease, border 1s ease;
  background: transparent;
  border: none;
}

.linking-bar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Cover the full width of the parent tile */
  height: 5px; /* Adjust as needed */
}

.linking-bar {
  position: absolute;
  width: 5px;
  height: 5px; /* Added height */
  background: black;
}

.linking-bar.behind {
  left: -5px; /* Position to the left of the parent tile */
}

.linking-bar.ahead {
  right: -5px; /* Position to the right of the parent tile */
}

.linking-bar-completed {
  transition: opacity 1s ease;
  opacity: 0;
}

.victory-overlay {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#resume-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.login-container {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

#login-form {
  font-family: 'Inconsolata';
  display: flex;
  flex-direction: column;
  gap: 15px;

  .input-field {
    color: $ash;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $umber;
  }

  button {
    padding: 10px;
    border-radius: 5px;
    background-color: $umber;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}

#error-message {
  font-family: 'Inconsolata';
  color: red;
}

.signup-link {
  text-align: center;
  margin-top: 10px;
}

$primary-color: #0d6efd;
$background-color: #f5f5f5;
$affinity-colors: (
  'SKY': #80c1ff,
  'EARTH': #755139,
  'MOUNTAIN': #737373,
  'MARSH': #549572,
  'FIRE': #f76c6c,
  'WATER': #3498db,
  'WIND': #6ab04c,
  'THUNDER': #9c27b0
);
$affinity-secondary-colors: (
  'SKY': #d0e5ff,      // Lighter blue
  'EARTH': #a2845e,    // Soft brown
  'MOUNTAIN': #a0a0a0, // Light grey
  'MARSH': #7cb89e,    // Softer green
  'FIRE': #fba5a5,     // Lighter red
  'WATER': #5dbbfa,    // Brighter blue
  'WIND': #99d075,     // Lighter green
  'THUNDER': #c76dd2   // Soft purple
);


// arena.scss
.arena-container {
  background: $background-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  button {
    background-color: $primary-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 5px 0;
      font-size: 16px;
    }
  }
}

// affinities.scss
@each $affinity, $color in $affinity-colors {
  .affinity-#{$affinity} {
    color: $color;
  }
}

@each $affinity, $color in $affinity-secondary-colors {
  .affinity-#{$affinity} {
    background-color: $color;
  }
}

.affinity-SKY { color: map-get($affinity-colors, 'SKY'); }
.affinity-EARTH { color: map-get($affinity-colors, 'EARTH'); }
.affinity-MOUNTAIN { color: map-get($affinity-colors, 'MOUNTAIN'); }
.affinity-MARSH { color: map-get($affinity-colors, 'MARSH'); }
.affinity-FIRE { color: map-get($affinity-colors, 'FIRE'); }
.affinity-WATER { color: map-get($affinity-colors, 'WATER'); }
.affinity-WIND { color: map-get($affinity-colors, 'WIND'); }
.affinity-THUNDER { color: map-get($affinity-colors, 'THUNDER'); }

$body-part-tile-max-width: 700px;

.affinity-MARSH .body-part-tile { background-color: #a8d5ba; }
.affinity-FIRE .body-part-tile { background-color: #f2a365; }
// Add more affinities and their complementary colors as needed

$primary-border-color: #ccc;
$secondary-text-color: #333;
$body-part-tile-max-width: 300px;

.body-part-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.body-part-tile {
  flex: 1 1 auto;
  max-width: $body-part-tile-max-width;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid $primary-border-color;
  margin: .5em;
  font-size: 1em;
  color: $secondary-text-color;

  &:hover {
    background-color: lighten($primary-border-color, 20%);
  }
}

.media-catalogue {
  padding: 20px;
  background: $ash;
  border-radius: 10px;

  
}

// Media Item
.media-item {
  background: $cream;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  
  .title {
    font-weight: bold;
    color: $umber;
  }

  .synopsis,
  .recommendation {
    color: $ash;
  }

  .discussion {
    color: $ash;
    display: block;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;

    .tag {
      background: $gold;
      margin: 5px;
      padding: 5px;
      border-radius: 3px;
    }
  }
}

.show-discussion {
  cursor: pointer;
  // Styles for your elegant, minimal icon
  .icon {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  &:hover .icon {
    transform: rotate(90deg);
  }
}

// Style for the "direct-recommendations" and "recommendation-tile" classes
.direct-recommendations {
  display: flex;
  gap: 1em;
  
  .recommendation-tile {
    border: 1px solid $ash;
    padding: 1em;
    border-radius: 5px;
  }
}