$cream: #FFF7D4;
$gold: #FFD95A;
$umber: #C07F00;
$ash: #4C3D3D;

$void: $cream;
$sand: #F4C542;
$stone: #8B8B8B;
$water: #3498DB;
$plant: #2ECC71;

@font-face {
  font-family: 'Lionscript-Regular';
  src:  url('../fonts/Lionscript-Regular.woff2') format('woff2'),
        url('../fonts/Lionscript-Regular.woff') format('woff'),
        url('../fonts/Lionscript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $cream;
  color: $ash;
}

h1, p {
  text-align: center;
}

h1 {
  color: $umber;
  font-family: 'Lionscript-Regular';
  font-size: 2.5em;
}

p {
  font-family: 'Inconsolata';
}


.mumon-commentary {
  font-family: 'Lionscript-Regular';
  color: $umber;
  font-size: 1.5em;
  margin: 12px;
}

#cherry-blossoms {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.petal {
  background-image: url('../../assets/images/sakura_petal.png');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0.7;
}

.petal-white {
  background-image: url('../../assets/images/sakura_petal_white.png');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 1;
}

#ensou-container {
  position: relative;
}

#ensou-icon {
  width: 50px;
  height: 50px;
  background-color: $ash; // You can replace this with an image or SVG of the ensou
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

#navigation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $ash;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  ul {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      margin: 10px;

      a {
        color: $cream;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }

  #close-button {
    color: $cream;
    cursor: pointer;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  button {
    margin: 1em;
  }
}

.reset-button {
  font-family: 'Lionscript-Regular';
  font-size: 2em;
  color: $ash;
}

.pixel-type-button {
  width: 3em;
  height: 3em;
  border: 1px solid $ash;

  &.void {
    background-color: $void;
  }
  &.stone {
    background-color: $stone;
  }
  &.sand {
    background-color: $sand;
  }
  &.water {
    background-color: $water;
  }
  &.plant {
    background-color: $plant;
  }
}

.brush-size-button {
  position: relative;
  height: 3em;
  width: 3em; // Default size
  background-color: $cream;
  border: 1px solid $ash;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brush-size-preview {
  display: block;
  border-radius: 50%;
  &.void {
    background-color: $void;
    border: 1px solid $ash;
  }
  &.stone {
    background-color: $stone;
  }
  &.sand {
    background-color: $sand;
  }
  &.water {
    background-color: $water;
  }
  &.plant {
    background-color: $plant;
  }

  &.extra-small {
    width: 3px;
    height: 3px;
  }
  &.small {
    width: 7px;
    height: 7px;
  }
  &.medium {
    width: 11px;
    height: 11px;
  }
  &.large {
    width: 15px;
    height: 15px;
  }
  &.extra-large {
    width: 19px;
    height: 19px;
  }
}
.pixel-type-button.selected, .brush-size-button.selected {
  border: 2px solid $gold;
  box-shadow: 0 0 5px $gold;
}

#zen-garden-canvas {
  display: block;
  margin: 20px auto;
  border: 5px solid $ash;
  border-radius: 10px;
}

.pixel-type-button, .brush-size-button {
  border-radius: 2px;
}

#mumon-commentary-container {
  margin-top: 2em;
}